body , dl, dd, a 
{
	margin:0px;
}; 
 
.clearfix 
{
   zoom:1;
}

dl
{
	overflow: hidden;
	margin: .5em 0;
	max-height: 1em;
	-webkit-transition: max-height 500ms ease-out;
   -moz-transition: max-height 500ms ease-out;
}

 dl:hover { max-height: 10em; } 
a:hover { text-decoration: underline; }	

dd 
{
	margin-left: 1em;
	color: #ADADAD;
}

 a 
{
	display: block;
	color: inherit;
	text-decoration: none;
}

